* {
  margin: 0;
  padding: 0; }

.sectionb-1, .sectionb-2 {
  background: #f8f9fa; }

.sectionb-2 .card {
  box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17); }

.Explore {
  line-height: 1.3;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative; }
  .Explore::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 1px;
    background: #000000;
    margin: 0 auto; }

.sectionb-3 {
  background: #0075f6; }

.sectionb-4 .container .hhh {
  height: 600px; }
.sectionb-4 .container .hhh2 {
  height: 285px; }
.sectionb-4 .container .hhh4 {
  height: 285px; }
.sectionb-4 .container .rrr {
  position: relative; }
  .sectionb-4 .container .rrr:hover .text {
    opacity: .9; }
  .sectionb-4 .container .rrr .att {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%; }
  .sectionb-4 .container .rrr .img {
    background-image: url(../img/project-1.jpg); }
  .sectionb-4 .container .rrr .img2 {
    background-image: url(../img/project-2.jpg); }
  .sectionb-4 .container .rrr .img3 {
    background-image: url(../img/project-3.jpg); }
  .sectionb-4 .container .rrr .img4 {
    background-image: url(../img/project-4.jpg); }
  .sectionb-4 .container .rrr .img5 {
    background-image: url(../img/project-5.jpg); }
  .sectionb-4 .container .rrr .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #0075f6;
    opacity: 0;
    transition: all 0.3s ease; }

@media (min-width: 50px) and (max-width: 767px) {
  .min {
    margin-top: 60px; }

  .sec3 {
    text-align: center; }
    .sec3:nth-child(2) {
      margin-top: 30px; }

  .xxx {
    margin-top: 25px; } }
.contact .img {
  height: 530px;
  overflow: hidden; }
.contact .contact_img1, .contact .contact_img2, .contact .contact_img3 {
  width: 25px;
  margin-right: 15px; }
.contact .user {
  transition: 0.2s; }
.contact .t-hover:hover .user {
  color: #0075f6; }

.footer {
  background-color: #0075f6; }
  .footer .color {
    color: rgba(255, 255, 255, 0.7); }
  .footer .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    mask-position: center center;
    mask-size: 90%;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: 90%;
    -webkit-mask-repeat: no-repeat; }
  .footer .rightArrow {
    mask-image: url("../img/right-arrow.svg");
    -webkit-mask-image: url("../img/right-arrow.svg"); }
  .footer ul li {
    margin: 5px 0; }
    .footer ul li a:hover {
      color: white; }
      .footer ul li a:hover .rightArrow {
        background-color: white; }
  .footer .social {
    width: 50px !important;
    height: 50px !important;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transition: 0.2s; }
  .footer .img1 {
    mask-image: url("../img/twiter.svg");
    -webkit-mask-image: url("../img/twiter.svg"); }
  .footer .img2 {
    mask-image: url("../img/telegram (2).svg");
    -webkit-mask-image: url("../img/telegram (2).svg"); }
  .footer .img3 {
    width: 16px;
    mask-image: url("../img/facebook.svg");
    -webkit-mask-image: url("../img/facebook.svg"); }
  .footer .social:hover {
    background: rgba(255, 255, 255, 0.3); }
    .footer .social:hover .img1, .footer .social:hover .img2, .footer .social:hover .img3 {
      background: white; }

/*# sourceMappingURL=style.css.map */
