.contact {
    .img {
        height: 530px;
        overflow: hidden;
    }
    .contact_img1, .contact_img2, .contact_img3 {
        width: 28px;
        margin-right: 15px;
    }
    .user {
        transition: 0.2s;
    }
    .t-hover{
        &:hover {
            .user {
                color: #0075f6;
            }
        }
    }
}