.contact {
    .img {
        height: 530px;
        overflow: hidden;
    }
    .contact_img1, .contact_img2, .contact_img3 {
        width: 28px;
        margin-right: 15px;
    }
    .user {
        transition: 0.2s;
    }
    .t-hover{
        color: #212529;
        transition: 0.2s;
        &:hover {
            color: #0075f6 !important;
            .user {
                color: #0075f6;
            }
        }
    }
}
@media (max-width: 400px) {
    .contact {
        font-size: 16px !important;
        .fs-20 {
            font-size: 16px !important;
        }
        .contact_img1, .contact_img2, .contact_img3 {
            width: 20px;
            margin-right: 10px;
        }
    }
}
@media (min-width:769px) and (max-width:992px) {
    .contact{
        .container{
            .col-sm-12{
                textarea{
                    height: 85px !important;
                    width: 100% !important;
                }
            }
        }
    }
}