
.footer {
    background-color: #0075f6;
    .color {
        color: rgba(255, 255, 255, 0.7);
    }
    
    .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        mask: {
            position: center center;
            size: 90%;
            repeat: no-repeat;
        }
        -webkit-mask: {
            position: center center;
            size: 90%;
            repeat: no-repeat;
        }
    }
    .rightArrow {
        mask-image: url('../img/right-arrow.svg');
        -webkit-mask-image: url('../img/right-arrow.svg');
    }
    ul {
        li {
            margin: 5px 0;
            a {
                &:hover {
                    color: white;
                    .rightArrow {
                        background-color: white;
                    }
                }
            }
        }
    }
    .social {
        width: 50px !important;
        height: 50px !important;
        background: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        transition: 0.2s;
    }
    .img1 {
        mask-image: url('../img/twiter.svg');
        -webkit-mask-image: url('../img/twiter.svg');
    }
    .img2 {
        mask-image: url('../img/telegram\ \(2\).svg');
        -webkit-mask-image: url('../img/telegram\ \(2\).svg');
    }
    .img3 {
        width: 16px;
        mask-image: url('../img/facebook.svg');
        -webkit-mask-image: url('../img/facebook.svg');
    }
    .social:hover {
        background: rgba(255, 255, 255, 0.3);
        .img1,.img2,.img3 {
            background: white;
        }
    }
}
@media (max-width: 768px) {
    .col-sm-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}