html{
    scroll-behavior: smooth;
}

// $bg-color: #E5E5E5;
* {
    margin: 0;
    padding: 0;
    
}
.gotop{
    position: fixed;
    z-index: 111111111111;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:linear-gradient(to bottom , #054992, #0075f6 );
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s linear;
    i{
        color: white;
        font-size: 20px;
    }
    &:hover{
        box-shadow: 1px 1px 7px #2a85e6, -1px -1px 7px #0075f6; 
    }
   
}
@import 'sectionb-1';
  

@import 'header';
@import 'typescript';
@import 'sectiontwo';
@import 'contact';
@import 'footer';
