{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Roboto+Mono:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arapey&family=Roboto+Mono:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">


    {% block title %} {% endblock %}
</head>

<body>
    <nav>
        <div class="navchild">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active log" href="#"><img src="images/log.png" alt=""></a>
                </li>
            </ul>
            <div class="divv">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active manu" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <span><a class="nav-link navbutton" href="#">Get Free Consultent</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>