{% extends 'home/base.html' %}


{% block title %} <title>Personal HTML-5 Template</title> {% endblock %}



{% block content %}
<div class="forimg">
  <div class="forthem">
    <span class="them">Get Every Single Solutions.</span>
    <h1 class="h1">I’m Designer Haris F. Watson</h1>
    <p class="introdaction">jhorem rfpsum golor sidt amet, consectetur adipiscing elit, eiusmod tempor incididunt utcjhg
      labore bet dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
    <div class="dws">
      <a href="#" class="butt">Learn More</a>
      <a href="#" class="butt2">Hire me</a>
    </div>
  </div>
</div>
<div class="include">
  <div class="secound">
    <h2 class="mavzu">Designing With Passion While Exploring The World.</h2>
    <p class="info">Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis
      ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</p>
    <p class="info2">Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. </p>
  </div>
  <div class="secound">
    <h1 class="abo">Any Type Of Query
      & Discussion.</h1>
    <p class="ppp">Late talk with me</p>
    <div class="address"><a href="#" class="email">hire@colorlib.com</a><i class="strel"></i></div>
  </div>
</div>
<div class="abservice">
  <p id="service">What Services you will Get from me!</p>
</div>
<div class="group">
  <div class="one">
    <div class="helper">
      <div class="flaticon-pen"><img src="images/icons8-design-96.png" alt="" height="60px"></div>
    </div>
    <div class="helpfortext"><a href="#" class="firstthem">UI/UX Design</a>
      <p class="infor1">Free resource that will help nderstand thecv designc process and improve theroi nderstand the
        design process andisei impro are of vquality.</p>
    </div>
  </div>
  <div class="one">
    <div class="helper2">
      <div class="ads"><img src="images/megaphone.png" alt="" height="60px"></div>
    </div>
    <div class="helpfortext"><a href="#" class="firstthem">Digital Marketing</a>
      <p class="infor1">Free resource that will help nderstand thecv designc process and improve theroi nderstand the
        design process andisei impro are of vquality.</p>
    </div>
  </div>
  <div class="one">
    <div class="helper3">
      <div class="web"><img src="images/landing-page.png" alt="" height="50px"></div>
    </div>
    <div class="helpfortext"><a href="#" class="firstthem">Web Design</a>
      <p class="infor1">Free resource that will help nderstand thecv designc process and improve theroi nderstand the
        design process andisei impro are of vquality.</p>
    </div>
  </div>
</div>
<div class="group2">
  <div class="themphoto">
    <p class="text15">What Services you will Get from me!</p>
  </div>
</div>
{% endblock %}