.back {
    background: #080827;
}
.footerCenter{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 150px 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display:flex;
}
.justify-content{
    justify-content: space-between !important;
}
.color {
    color: #ec5b53;
}
h1,h2,h3,h4,h5 {
    color: #000a2d;
}
.position{
    position: absolute;
    z-index: -1;
}
.heart {
    color: red;
}
.paddingTopBottom {
    padding: 90px 0 90px 0;
}
#size {
    font-family: 'Merriweather', serif;
    font-size: 60px;
}
.paddingTop{
    padding-top: 200px;
}
