.navchild {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul > li {
    font-size: 19px;
}
.manu {
    color: black;
    font-weight: bold;
}
li > .nav-link:hover{
    color: orange;
}
.log {
    margin-right: 200px;
}
.navbutton {
    width: 100%;
    height: 50px;
    background: #ec5b53;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
@keyframes example {
    /* from {top: 0px;}
    to {right: 200px; background-color: blue;} */
    0%   {background-color:red; left:0px; top:0px;}
    100%  {background-color:rgb(0, 132, 255); left:60px; top:0px;}

}
.navbutton:hover {
    transform: scaleX(1);
    color: #fff !important;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 5s;  
    animation-fill-mode: forwards;
    
    /* z-index: -1; */
}
.forimg {
    width: 1350px;
    height: 650px;
    background:url(images/h1_hero.webp);
    background-size: cover;
    background-size: 1300px;
}
.forthem {
    width: 700px;
    height: 570px;
    /* background: red; */
    margin-left: 60px;
    display: inline-block;
    margin-top: 80px;
}
.them {
    color: #ec5b53;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
    font-family: 'Arapey', serif;
}
.h1 {
    font-size: 90px;
    color: #002d5b;
    font-family: 'Frank Ruhl Libre', serif;
}
.introdaction {
    color:#464d65;
    font-size: 20px;
}
.dws {
  position: absolute;
  
  left: 10%;
  transform: translate(-20%, 20%);
  display: flex;
 }
 .butt {
  color:#fff;
  background: #f7534a;
  opacity: .9;
 }
 .butt2 {
  color: black;
 }
 .butt , .butt2{
  border: 3px solid #e44239;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  width: 200px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 45px;
  font-family: Arial, sans-serif;
  position: relative;
  transition: .5s;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  opacity: .9;
 }
 .butt::before,
 .butt::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #f33a30;
  top: 0;
  left: -100%;
  opacity: .5;
  transition: .3s;
  z-index: -1;
 }
 .butt::after {
  opacity: 1;
  transition-delay: .2s;
 }
 .butt:hover {
  color: #fff;
  text-decoration: none;
 }
 .butt:hover::before,
 .butt:hover::after {
  left: 0;
  text-decoration: none;
 }


 .butt2::before,
 .butt2::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #e44239;
  left: 0;
  top: -100%;
  opacity: .5;
  transition: .3s;
  z-index: -1;
  
 }
 .butt2::after {
  opacity: 1;
  transition-delay: .2s;
 }
 .butt2:hover {
  color: #fff;
  text-decoration: none;
 }
 .butt2:hover::before,
 .butt2:hover::after {
  top: 0;
  text-decoration: none;
 }

.include {
  display: flex;
} 
.secound {
  width: 550px;
  height: 400px;

  margin: 80px 40px 0 70px;
}
.mavzu , .abo {
  margin: 40px 0 20px 30px; 
}
.info {
  margin: 40px 40px 20px 30px;
  font-size: 20px;
}
.info2 {
  margin: 40px 40px 20px 30px;
  font-size: 20px;
}
.abo {
  font-size: 45px;
  margin-right: 100px;
}
.ppp {
  font-size: 30px;
  margin: 40px 40px 20px 30px;
}
.address {
  width: 500px;
  height: 70px;
  margin: 40px 40px 20px 30px;

}
.email,.email:hover {
  font-size: 40px;
  color: black;
  text-decoration: underline;
  font-weight: 600;
}
.abservice {
  width: 500px;
  height: 50px;
  margin: 90px 40px 20px 95px;
}
#service {
  font-size: 48px;
  font-weight: 600;
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 0 30px;
}
.one {
  width: 350px;
  height: 420px;
  margin: 70px 30px 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 3px;
}
.one:hover,.infor1:hover {
  border-radius: 5px;
  box-shadow: 0 0 3px;
}
.helper,.helper2,.helper3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 50px 0;
}

.flaticon-pen {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transform: scaleY(-1);
  background: #fff4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpfortext {
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.firstthem,.firstthem:hover{
  font-size: 30px;
  color: #000a2d;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.infor1{
  font-size: 18px;
  margin: 20px 35px 20px 35px;
  color: #464d65;
}
.ads,.web {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff4f4;
  color: #f33a30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ads:hover,.web:hover {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  color: #f33a30;
}
.group2{
  width: 1000px;
  height: 400px;
  margin-left: 80px;
  margin-top: 100px;
}
.themphoto{
  width: 50%;
  height: 50%;
  background-position: bottom;
}
.text15 {
  font-size: 45px;
}