<h2>all Blogs {{blogs.count}}</h2>
{% for blog in blogs %}
<a href="{% url 'blog:detail' blog.id %}"><h2>{{blog.title}}</h2></a>
<h5>{{blog.date |date:'d M Y' |upper}}</h5>
<p>{{blog.description| safe | truncatechars:100}}</p>
{% endfor %}