<h1>Bu meni qilgan ishlarim</h1>

{% for project in projects %}
<h2>{{project.title}}</h2>
<p>{{project.description}}</p>
<img src="{{project.image.url}}" alt="" height="300px">
<br>
{% if project.url %}
<a href="{{project.url}}">Link</a>
{% endif %}

{% endfor %}