{% extends 'about/base.html' %}
{% block title %} <title>About</title> {% endblock %}
{% block content %}

{% for everything in about %}
<img src="{{everything.img.url}}" class="img-fluid position" alt="Responsive image">
<div class="container">
    <div class="paddingTopBottom">
        <h1 id="size">About Me</h1>
        <span class="color">
            <a href=".." class="color">Home</a>
            /
            <a href="#" class="color">About</a>
        </span>
    </div>
    
    <div class="flex paddingTop center justify-content">
        <div><img src="{{everything.img2.url}}" alt=""></div>
        <div>
            <h1>{{everything.title}}</h1>
            <p>{{everything.description}}</p>
            <h1>{{everything.title2}}</h1>
            <p>{{everything.description2}}</p>
        </div>
    </div>
    <div>
        <div>
            <h2>{{everything.title3}}</h2>
            <p>{{everything.description3}}</p>
        </div>
        <div>
            <h1>{{everything.title4}}</h1>
            <p>{{everything.title5}}</p>
            <a href="#">{{everything.email}}</a>
        </div>
    </div>
    <div>
        <img src="{{everything.img3.url}}" class="img-fluid" alt="Responsive image">
        <h1>{{everything.onimg3}}</h1>
        <button type="submit">{{everything.onimgbtn}}</button>
    </div>
    
</div>

{% endfor%}
{% endblock %}