{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Roboto+Mono:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arapey&family=Roboto+Mono:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.min.css">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    {% block title %} {% endblock %}
    
</head>

<body>
    <nav>
        <div class="navchild">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active log" href=".."><img src="{% static 'images/log.png' %}" alt=""></a>
                </li>
            </ul>
            <div class="divv">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active manu" href="..">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link manu" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <span><a class="nav-link navbutton" href="#">Get Free Consultent</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <footer class="back">
        <div class="container">
            <div class="footerCenter"> 
                <div>
                    <div><img src="{% static 'images/log.png' %}" alt=""></div>
                    <a href="#">aslamjon.ibragimov@gmail.com</a>
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Copyright ©2020 All rights reserved | This template is made with 
                        <i class="fas fa-heart"></i>
                        <img src="{% static 'images/heart-solid.svg' %}" alt="" class="heart">
                    </p>
                </div>
                <div><p>Stay Connected</p></div>
            </div>
        </div>
    </footer>
</body>

</html>