* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.blog {
    background-color: #f8f9fa;
    .card {
        border: none !important;
        img {
            height: 250px;
        }
        .title {
            transition: 0.4s;
            margin-bottom: 20px;
            text-decoration: none;
            color: black;
            &:hover {
                color: #0075f6;
            }
        }
        .content {
            color: #999999;
        }
    }
}
.footer {
    background-color: #0075f6;
    .color {
        color: rgba(255, 255, 255, 0.7);
    }
    .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        mask: {
            position: center center;
            size: 90%;
            repeat: no-repeat;
        }
        -webkit-mask: {
            position: center center;
            size: 90%;
            repeat: no-repeat;
        }
    }
    .rightArrow {
        mask-image: url('right-arrow.svg');
        -webkit-mask-image: url('right-arrow.svg');
    }
    ul {
        li {
            margin: 5px 0;
            a {
                &:hover {
                    color: white;
                    .rightArrow {
                        background-color: white;
                    }
                }
            }
        }
    }
    .social {
        width: 50px !important;
        height: 50px !important;
        background: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        transition: 0.2s;
    }
    .img1 {
        mask-image: url('twiter.svg');
        -webkit-mask-image: url('twiter.svg');
    }
    .img2 {
        mask-image: url('telegram\ \(2\).svg');
        -webkit-mask-image: url('telegram\ \(2\).svg');
    }
    .img3 {
        mask-image: url('facebook.svg');
        -webkit-mask-image: url('facebook.svg');
    }
    .social:hover {
        background: rgba(255, 255, 255, 0.3);
        .img1,.img2,.img3 {
            background: white;
        }
    }
}